body {
  background: #001d4a;
  color: #e0f0ff;
}

.login-page .login-container .login-form {
  background-color: #001d4a;
  -webkit-backdrop-filter: blur(var(--blur-radius-dark)) brightness(0);
  backdrop-filter: blur(var(--blur-radius-dark)) brightness(0) saturate(140%);
  background-color: rgba(0,29,74,0.8);

  .brand {
    color: #b8d8f0;
  }

  .form-login {
    .input-group::before {
      color: #b8d8f0;
    }

    .input-group input {
      background-color: transparent !important;
      color: #c8e8ff;
      border-bottom: #90c0e0 1px solid !important;
      border-radius: 0 !important;
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      box-shadow: none;
    }

    .cbi-button-apply {
      background-color: #1a4a60 !important;

      &:hover,
      &:focus {
        opacity: .92;
      }
    }
  }
}

header::after {
  background-color: #001d4a !important;
}

.main .main-left {
  background-color: #001d4a !important;
  box-shadow: 0 0 .4rem 0 rgba(15,76,117,0.4);

  .sidenav-header .brand {
    color: #e0f0ff;
  }

  .nav {
    .slide {
      .slide-menu {
        .active a {
          color: #f0f8ff;

          &::after {
            background-color: #b0d0e8 !important;
          }
        }

        .active::after {
          background-color: #1a4a60 !important;
        }

        li a {
          color: #c0e0f0;

          &:hover {
            background: none !important;
          }
        }

        li::after {
          background-color: #1a4a60 !important;
        }
      }

      .menu.active {
        background-color: #1a4a60 !important;
        color: #f0f8ff !important;

        a::after {
          background-color: #f0f8ff !important;
        }
      }

      li a {
        color: #c0e0f0 !important;

        &:hover {
          background-color: #1a4a60 !important;
          color: #f0f8ff !important;
        }
      }
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2a5a7b !important;
  }

  &::-webkit-scrollbar-track {
    background-color: #001d4a;
  }
}

.main .main-right {
  background-color: #001d4a;
}

h2 {
  color: #e0f0ff;
  background: #192941;
}

h3 {
  color: #e0f0ff;
  border-bottom: 0;
  background: #192941;
}

h4 {
  color: #a8c8e0;
}

abbr {
  color: #1a4a60 !important;
}

a:link,
a:visited,
a:active {
  color: #4a9fff;
}

input:-webkit-autofill {
  background-color: #2a5a7b !important;
}

#channel_graph {
  background-color: transparent !important;
}

.cbi-value-field .cbi-input-apply,
.cbi-button-apply,
.cbi-button-edit {
  color: #f8faff !important;
  background-color: #1a4a60 !important;
  border-color: #1a4a60 !important;
}

.cbi-section em {
  color: #d0e8ff;
}

header.bg-primary {
  background-color: #001d4a !important;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05);
}

.cbi-map-descr {
  color: #c0e0f0;
}

.cbi-section {
  background: none;
  box-shadow: 0 0 .4rem 0 rgba(15,76,117,0.4);
}

.panel-title {
  color: #e0f0ff;
  background-color: #192941;
}

div > table > tbody > tr:nth-of-type(2n),
div > .table > .tr:nth-of-type(2n) {
  background-color: #192941;
}

table > tbody > tr > td,
table > tfoot > tr > td,
table > thead > tr > td {
  color: #e0f0ff;
}

fieldset > table > tbody > tr:nth-of-type(2n) {
  background-color: #192941;
}

table > tbody > tr > td,
table > tfoot > tr > td,
table > thead > tr > td {
  border-top: 1px solid #2a5a7b;
}

#swaptotal > div > div,
#swapfree > div > div,
#memfree > div > div,
#membuff > div > div,
#conns > div > div,
#memtotal > div > div {
  background-color: #1a4a60 !important;
}

#swaptotal > div > div > div > small,
#swapfree > div > div > div > small,
#memfree > div > div > div > small,
#membuff > div > div > div > small,
#conns > div > div > div > small,
#memtotal > div > div > div > small {
  color: #d0e8ff !important;
}

.node-system-packages > .main .cbi-section-node:first-child .cbi-value-last {
  line-height: 1.8em;
}

.node-system-packages > .main .cbi-section-node:first-child .cbi-value-last div[style="margin:3px 0; width:300px; height:10px; border:1px solid #000000; background-color:#80C080"] {
  border: 1px solid #6080a8 !important;
  background-color: transparent !important;

  div {
    background-color: #4a9fff !important;
  }
}

table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > th {
  background-color: #192941;
  border-bottom: #001d4a 1px solid !important;
}

tr > td,
tr > th,
.tr > .td,
.tr > .th,
.cbi-section-table-row::before,
#cbi-wireless > #wifi_assoclist_table > .tr:nth-child(2) {
  border-top: 0;
}

.cbi-rowstyle-2 {
  background-color: #001d4a;
}

.cbi-rowstyle-1 {
  background-color: #192941;
}

.cbi-rowstyle-2 {
  .cbi-button-up,
  .cbi-button-down,
  body:not(.Interfaces) .cbi-rowstyle-2:first-child & {
    background-color: #2a5a7b !important;
  }
}

.cbi-section > h3:first-child,
.panel-title,
h3 {
  color: #e0f0ff;
}

h4 {
  background-color: #001d4a;
}

.cbi-progressbar {
  background: #001d4a;

  div {
    background-color: #1a4a60 !important;
  }
}

.tr[data-title]::before,
.tr.cbi-section-table-titles.named::before {
  background-color: #192941;
}

.cbi-section-table .cbi-section-table-titles .cbi-section-table-cell {
  background-color: #001d4a;
}

.cbi-button {
  color: #f8faff !important;
  background-color: #1a4a60;
}

.cbi-section-node {
  background: none;
}

abbr {
  color: #1a4a60;
}

div > table > tbody > tr:nth-of-type(2n),
div > .table > .tbody > .tr:nth-of-type(2n) {
  background-color: #192941;
}

#content_syslog {
  box-shadow: 0 0 .4rem 0 rgba(15,76,117,0.4);
}

#syslog {
  color: #e0f0ff;
  background-color: #001d4a;
}

#iwsvg,
#iwsvg2,
#bwsvg {
  overflow: hidden;
  box-shadow: 0 0 .4rem 0 rgba(15,76,117,0.4);
  background-color: #001d4a !important;
}

.tabs {
  background-color: #192941;

  li[class~="active"],
  li:hover {
    cursor: pointer;
    color: #f0f8ff !important;

    a {
      color: #f0f8ff !important;
    }
  }

  > li[class~="active"] > a {
    color: #f0f8ff;
  }

  > li[class~="active"],
  > li:hover {
    border-bottom: .18751rem solid #1a4a60;
    color: #1a4a60 !important;
    background-color: #001d4a;
  }
}

.cbi-tabmenu > li > a,
.tabs > li > a {
  color: #c0e0f0;

  &:hover {
    color: #d0e8ff;
  }
}

.cbi-tabmenu > li {
  background: #2a5a7b;
}

.cbi-tabmenu li[class~="cbi-tab"] a {
  color: #d0e8ff;
}

.cbi-tabmenu > li:hover {
  color: #f0f8ff;
  background: #2a5a7b;
  border-bottom: .18751rem solid #1a4a60 !important;
}

.cbi-tabmenu > li[class~="cbi-tab"] {
  background-color: #001d4a;
  border-bottom: .18751rem solid #1a4a60 !important;
}

.cbi-tabcontainer > .cbi-value:nth-of-type(2n) {
  background-color: #192941;
}

.cbi-value-title {
  color: #e0f0ff;
}

select,
input {
  color: #e0f0ff;
  background-color: transparent !important;
  border: 1px solid #2a5a7b;
  box-shadow: none;

  &:not([multiple="multiple"]):focus,
  &:focus {
    border-color: #1a4a60 !important;
    outline: 0;
  }
}

select:not([multiple="multiple"]):focus,
input:not(.cbi-button):focus,
.cbi-dropdown:focus {
  border-color: #1a4a60 !important;
}

select {
  background-color: #001d4a !important;
}

#cbi-dropbear h2,
#cbi-dropbear .cbi-map-descr,
#cbi-dropbear .cbi-map-descr abbr,
#cbi-rc h2,
#cbi-rc .cbi-map-descr,
#cbi-distfeedconf h2,
#cbi-distfeedconf .cbi-map-descr,
#cbi-customfeedconf h2,
#cbi-customfeedconf .cbi-map-descr,
#cbi-download h2,
#cbi-filelist h2 {
  color: #d0e8ff !important;
}

.cbi-value-field > ul > li .ifacebadge {
  background-color: #2a5a7b;
}

.cbi-section-descr {
  color: #c0e0f0;
}

.cbi-input-textarea {
  background-color: #001d4a;
  color: #e0f0ff;
  border: 1px solid #2a5a7b !important;
}

textarea:focus-visible {
  border: 1px solid #1a4a60;
}

.cbi-section-remove:nth-of-type(2n),
.cbi-section-node:nth-of-type(2n) {
  background-color: #001d4a;
}

.cbi-section[id] .cbi-section-remove:nth-of-type(4n+3),
.cbi-section[id] .cbi-section-node:nth-of-type(4n+4) {
  background-color: #001d4a;
}

.node-system-packages > .main table tr td:nth-last-child(1) {
  color: #e0f0ff;
}

.cbi-tooltip {
  background-color: #4a9fff;
  color: #fff;
}

.ifacebox {
  background-color: transparent !important;
  border: 1px solid #001d4a;
}

.ifacebox-head {
  color: #e0f0ff;
  background: #2a5a7b;
}

.ifacebox-body {
  background-color: #192941;
}

.zonebadge strong {
  color: #192941;
}

.zonebadge > .ifacebadge {
  background-color: #2a5a7b;
}

div.cbi-value var,
td.cbi-value-field var {
  color: #1a4a60;
}

#diag-rc-output > pre {
  color: #e0f0ff;
  background-color: #001d4a;
}

.node-services-vssr {
  .block {
    background-color: #2a5a7b !important;
    box-shadow: 0 0 .4rem 0 rgba(15,76,117,0.4);

    h4 {
      color: #e0f0ff !important;
    }
  }

  .status-bar {
    color: #e0f0ff;
    box-shadow: 0 0 .4rem 0 rgba(15,76,117,0.4);
    background-color: #001d4a;
  }

  .cbi-section-table-row {
    color: #e0f0ff;
    background-color: #2a5a7b !important;
    box-shadow: 0 0 4px 0 rgba(15,76,117,0.4);

    &.fast {
      background: #1a4a60 !important;
      color: #f8faff;
    }
  }

  .ssr-button {
    color: #c0e0f0;
  }

  .incon:nth-child(2) {
    border-right: #001d4a 1px solid;
  }
}

#xhr_poll_status > .label.success {
  color: #e0f0ff !important;
  background-color: #4a9fff !important;
}

.notice {
  background-color: #1a4a60 !important;
}

.cbi-input-find,
.cbi-input-save,
.cbi-button-add,
.cbi-button-save,
.cbi-button-find,
.cbi-input-reload,
.cbi-button-reload {
  color: #f8faff !important;
  background: #4a9fff !important;
  border-color: #4a9fff !important;
}

.cbi-button-reset,
.cbi-input-remove {
  color: #f8faff !important;
  background-color: #6a8ab4 !important;
  border-color: #6a8ab4 !important;
}

.cbi-page-actions .cbi-button-apply,
.cbi-section-actions .cbi-button-edit,
.cbi-button-edit.important,
.cbi-button-apply.important,
.cbi-button-reload.important,
.cbi-button-action.important {
  border: 1px #1a4a60 solid !important;
}

.btn[value="Dismiss"],
.cbi-button[value="Terminate"],
.cbi-button[value="Reset"],
.cbi-button[value="Disabled"],
.cbi-button[onclick^="iface_reconnect"],
.cbi-button[onclick="handleReset(event)"],
.cbi-button-neutral[value="Disable"] {
  color: #f8faff;
  border: thin solid #6a8ab4 !important;
  background-color: #6a8ab4 !important;
}

fieldset[id^="cbi-apply-"] {
  background-color: #192941;
}

#detail-bubble > div {
  border: 1px solid #6080a8;
  background: #192941;
}

.ifacebox-head.active {
  background-color: #1a4a60 !important;
}

header .fill .status span[data-style="active"] {
  color: #e0f0ff !important;
  background-color: #4a9fff !important;
}

#cbi-wireless .td,
#cbi-network .tr:first-child > .td,
.table[width="100%"] > .tr:first-child > .td,
[data-page="admin-network-diagnostics"] .tr > .td,
.tr.table-titles > .th,
.tr.cbi-section-table-titles > .th {
  background-color: #192941;
  border-bottom: #001d4a 1px solid !important;
}

.network-status-table .ifacebox-body .ifacebadge {
  background-color: #192941;
  border-bottom: 0;
  box-shadow: none;
}

td > .ifacebadge,
.td > .ifacebadge {
  color: #f8faff;
  background-color: #1a4a60;
  border: 0;
}

.alert,
.alert-message {
  background-color: #192941;
}

.alert-message.warning {
  background-color: #6a8ab4 !important;
}

.alert.error,
.alert-message.error {
  background-color: #5a7a9a;
}

.alert h4,
.alert-message h4 {
  background-color: #5a7a9a;
  color: #e0f8ff;
}

.alert-message [class="btn"] {
  background-color: #2a5a7b;
  color: #d0e8ff;
}

.uci-dialog .cbi-section {
  .uci-change-legend .uci-change-legend-label > ins {
    border-color: #c5fed1;
    background-color: #4a9fff;
  }

  .uci-change-legend .uci-change-legend-label > del {
    border-color: #c60000;
    background-color: #ffcc99;
  }

  .uci-change-legend .uci-change-legend-label > var {
    background-color: #192941;
    border-color: #2a5a7b;

    ins {
      background-color: #4a9fff;
    }

    del {
      background-color: #ffcc99;
    }
  }

  .uci-change-list > var {
    background-color: #192941;
    border-color: #2a5a7b;

    del {
      background-color: #ffcc99;
    }

    ins {
      background-color: #4a9fff;
    }
  }

  .uci-change-list > ins {
    border-color: #c5fed1;
    background-color: #4a9fff;
  }

  .uci-change-list > del {
    border-color: #c60000;
    background-color: #ffcc99;
  }

  .uci-change-list + .right {
    .btn {
      color: #d0e8ff;
    }

    .cbi-button {
      border: 1px solid #2a5a7b !important;
    }
  }
}

.btn.danger,
.cbi-section-remove > .cbi-button,
.cbi-button-remove,
.cbi-button-reset,
.cbi-button-negative,
.cbi-button[value="Stop"],
.cbi-button[value="Kill"],
.cbi-button[onclick="reboot(this)"],
.cbi-button-neutral[value="Restart"] {
  border: thin solid #6a8ab4 !important;
  background-color: #6a8ab4 !important;
}

.cbi-section,
.cbi-section-error,
#iptables,
.Firewall form,
#cbi-network > .cbi-section-node,
#cbi-wireless > .cbi-section-node,
#cbi-wireless > #wifi_assoclist_table,
[data-tab-title],
[data-page^="admin-system-admin"]:not(.node-main-login) .cbi-map:not(#cbi-dropbear),
[data-page="admin-system-opkg"] #maincontent > .container {
  background: #001d4a !important;
  box-shadow: 0 0 .4rem 0 rgba(15,76,117,0.4);
}

div[style="width:100%;height:300px;border:1px solid #000;background:#fff"] {
  background: transparent !important;
}

[data-page="admin-system-admin"] .cbi-map h2,
[data-page="admin-system-admin-password"] .cbi-map h2,
[data-page="admin-system-admin"] .cbi-map .cbi-map-descr,
[data-page="admin-system-admin-password"] .cbi-map .cbi-map-descr {
  color: #e0f0ff;
}

[data-page="admin-system-flash"] {
  .modal {
    label > input[type="checkbox"] {
      vertical-align: text-top;
      top: auto;
      border-color: #f0f8ff !important;
    }

    .btn {
      white-space: normal !important;
      background-color: #4a9fff;
    }

    .alert-message {
      background-color: transparent !important;
    }

    .danger {
      border: thin solid #6a8ab4 !important;
      background-color: #6a8ab4 !important;
    }
  }

  legend {
    color: #e0f0ff;
  }
}

.cbi-value input[type="password"] + .cbi-button-neutral {
  background-color: #1a4a60 !important;
  border-color: #1a4a60 !important;
}

.btn,
button,
select,
input,
.cbi-dropdown {
  border: 1px solid #2a5a7b !important;
}

.cbi-dropdown .preview {
  color: #e0f0ff;
}

.cbi-section-table-row {
  background-color: #001d4a !important;
}

.modal {
  background-color: #001d4a;
}

.cbi-button-positive {
  color: #f8faff !important;
  background-color: #1a4a60 !important;
}

.logout:before {
  color: #b8d8f0 !important;
}

.cbi-dropdown[open] {
  border-color: #1a4a60 !important;

  > ul.dropdown {
    background: #192941 !important;
    color: #f0f8ff !important;
    box-shadow: none;
    border: 1px solid #2a5a7b !important;

    li {
      color: #f0f8ff;
      border-bottom: 1px solid #2a5a7b !important;
    }

    > li[selected] {
      background-color: #1a4a60 !important;
      border-bottom: 1px solid #2a5a7b !important;
    }

    > li.focus {
      background: #1a4a60;
      outline: none;
    }
  }
}

.ifacebadge {
  background-color: #192941;
}

.cbi-dynlist > .item > span {
  border: 1px solid #2a5a7b !important;
}

.cbi-page-actions .cbi-button-apply,
.cbi-section-actions .cbi-button-edit,
.cbi-button-edit,
.cbi-button-apply,
.cbi-button-reload,
.cbi-button-action,
.cbi-button[value="Submit"],
.cbi-button[value="Upload"],
.cbi-button[value$="Apply"],
.cbi-button[onclick="addKey(event)"] {
  background: #1a4a60 !important;
  border-color: #1a4a60 !important;
}

.btn.primary,
.cbi-page-actions .cbi-button-save,
.cbi-page-actions .cbi-button-apply + .cbi-button-save,
.cbi-button-add,
.cbi-button-save,
.cbi-button-positive,
.cbi-button-link,
.cbi-button[value="Enable"],
.cbi-button[value="Scan"],
.cbi-button[value^="Back"],
.cbi-button-neutral[onclick="handleConfig(event)"] {
  background: #1a4a60;
}

[data-page="admin-system-opkg"] h2 {
  color: #e0f0ff !important;
}

[data-page="admin-system-startup"] textarea {
  color: #e0f0ff;
  background-color: transparent;

  &:focus-visible {
    border: 1px solid #1a4a60;
  }
}

[data-page="admin-network-firewall-custom"] #view p textarea,
[data-page="admin-status-routes"] #view p textarea,
[data-page="admin-system-crontab"] #view p textarea {
  color: #e0f0ff;
  background-color: transparent;
}

#view > .spinning {
  background: #192941 !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.03) !important;
}

@media screen and (min-width: 600px) {
  ::-webkit-scrollbar-thumb {
    background: #1a4a60;

    &:hover {
      background: #1a4a60;
    }

    &:active {
      background: #1a4a60;
    }
  }
}

@media screen and (max-width: 480px) {
  .node-status-iptables > .main div > .cbi-map > form {
    background-color: #001d4a;
    box-shadow: 0 0 .4rem 0 rgba(15,76,117,0.4);
  }
}

[data-page=""] .main-right > #maincontent .Dashboard,
[data-page="admin-dashboard"] .main-right > #maincontent .Dashboard {
  color: #e0f0ff !important;
}

[data-page=""] .main-right > #maincontent .Dashboard h3,
[data-page="admin-dashboard"] .main-right > #maincontent .Dashboard h3 {
  color: #e0f0ff;
}

[data-page=""] .main-right > #maincontent .Dashboard hr,
[data-page="admin-dashboard"] .main-right > #maincontent .Dashboard hr {
  border-top: 1px solid #f0f8ff;
}

[data-page=""] .main-right > #maincontent .Dashboard .dashboard-bg,
[data-page="admin-dashboard"] .main-right > #maincontent .Dashboard .dashboard-bg {
  background-color: #192941;
}

[data-page=""] .main-right > #maincontent .Dashboard img.svgmonochrome,
[data-page="admin-dashboard"] .main-right > #maincontent .Dashboard img.svgmonochrome {
  filter: invert(90%);
}

[data-page=""] .main-right > #maincontent .Dashboard tr,
[data-page="admin-dashboard"] .main-right > #maincontent .Dashboard tr {
  border-top: thin solid #2a5a7b;
}

[data-page=""] .main-right > #maincontent .Dashboard tr:last-child,
[data-page="admin-dashboard"] .main-right > #maincontent .Dashboard tr:last-child {
  border-bottom: thin solid #2a5a7b;
}

[data-page="admin-system-fileassistant"] .fb-container .panel-container {
  border-bottom-color: #2a5a7b !important;
}

[data-page="admin-system-fileassistant"] .fb-container td[class$="-icon"]::before {
  filter: invert(.9);
}

[data-page="admin-system-fileassistant"] div#list-content table.cbi-section-table tbody tr:nth-child(1) td.parent-icon {
  background: #001d4a !important;
}

[data-page^="admin-services-openclash"] {
  .oc {
    --bg-light: #001d4a !important;
    --bg-gray: #001d4a !important;

    .developer-container {
      background: transparent !important;
    }
  }

  .config-upload-content {
    background: #001d4a !important;
  }

  .cbi-tabmenu::-webkit-scrollbar-thumb {
    background-color: #2a5a7b;
  }

  .cbi-tabmenu::-webkit-scrollbar-track {
    background-color: rgba(42,90,123,0.75);
  }

  #tab {
    border-color: #2a5a7b;
  }

  #diag-rc-output > pre,
  #dns-rc-output > pre {
    color: #e0f0ff;
    border: 1px solid #2a5a7b !important;
    background-color: #001d4a;
  }

  img[src$="arrow-clockwise-light.svg"],
  img[src$="wrench-light.svg"],
  img[src$="eye-light.svg"] {
    filter: invert(.9);
  }
}

[data-page="admin-network-diagnostics"] {
  .cbi-section {
    background: #192941 !important;
  }

  textarea {
    background: transparent;
    border-radius: .25rem;
    color: #e0f0ff;
    border: 1px solid #2a5a7b !important;
  }

  .tr > .td {
    background-color: #192941 !important;
  }
}

[data-page="admin-network-network"] {
  .ifacebox-head[style*="--zone-color-rgb: 144, 240, 144"] {
    background-color: #2a5a7b !important;
    color: #e0f0ff !important;
  }

  .ifacebox-head[style*="--zone-color-rgb: 240, 144, 144;"] {
    background-color: #4a6a90 !important;
    color: #e0f0ff !important;
  }

  .ifacebox-head[style*="--zone-color-rgb: 238, 238, 238;"] {
    background-color: #192941 !important;
  }

  #modal_overlay > .modal.cbi-modal > div > p > textarea {
    border: 1px solid #2a5a7b !important;
    background-color: transparent !important;
    color: #e0f0ff !important;
  }

  #modal_overlay div[data-tab="peers"] div[data-name="_peers"] .ifacebadge code {
    color: #f8faff !important;
    background-color: transparent !important;
  }
}

[data-page="admin-network-firewall-rules"] #cbi-firewall-rule {
  .zonebadge[style*="--zone-color-rgb:240, 144, 144;"] {
    --zone-color-rgb: 74,106,144 !important;

    strong {
      color: #e0f0ff !important;
    }
  }

  .zonebadge[style*="--zone-color-rgb:238, 238, 238;"] {
    --zone-color-rgb: 25,41,65 !important;

    em {
      color: #e0f0ff !important;
    }
  }

  > table > .cbi-section-table-row[data-title]::before {
    background-color: #192941 !important;
  }
}

[data-page="admin-network-network"] .cbi-dropdown .zonebadge[style*="--zone-color-rgb:240, 144, 144;"],
[data-page="admin-network-firewall-rules"] .cbi-dropdown .zonebadge[style*="--zone-color-rgb:240, 144, 144;"] {
  --zone-color-rgb: 74,106,144 !important;
  color: #e0f0ff !important;

  strong {
    color: #e0f0ff !important;
  }
}

[data-page="admin-network-network"] .cbi-dropdown .zonebadge[style*="--zone-color-rgb:144, 240, 144;"],
[data-page="admin-network-firewall-rules"] .cbi-dropdown .zonebadge[style*="--zone-color-rgb:144, 240, 144;"] {
  --zone-color-rgb: 42,90,123 !important;
  color: #e0f0ff !important;

  strong {
    color: #e0f0ff !important;
  }
}

[data-page="admin-network-network"] .cbi-dropdown .zonebadge[style*="--zone-color-rgb:238, 238, 238;"],
[data-page="admin-network-firewall-rules"] .cbi-dropdown .zonebadge[style*="--zone-color-rgb:238, 238, 238;"] {
  --zone-color-rgb: 25,41,65 !important;

  strong {
    color: #e0f0ff !important;
  }

  strong + span {
    color: #e0f0ff !important;
  }
}

[data-page="admin-system-commands"] .commandbox,
[data-page="admin-system-commands-dashboard"] .commandbox {
  border-bottom: thin solid #2a5a7b;
  background: #192941;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.2), 0 1px 2px rgba(255,255,255,0.05);
}

.btn {
  background-color: #2a5a7b;
  color: #f8faff;
}